@model Models.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Бесплатный хостинг. 30 дней!</h1>
        <p class="lead">Пробный период без ограничений</p>
        <p><a href="http://asp.net" class="btn btn-info btn-lg">Попробовать сейчас &raquo;</a></p>
    </div>

<style>
	.buy-link, .buy-link:hover
{   text-decoration: none;
color: black;}
</style>

    <div class="row">
        @foreach (var plan in Model.HostingPlans)
		{
			<a class="buy-link" data-plan-id="@plan.ID" href="@Url.Action("Select","Plans")">
				<div class="col-md-4 box">
					<h2>@plan.Name</h2>
					<p>@plan.Price грн/мес</p>

					<p>
						@plan.Description
					</p>
					<p>
						@Html.ActionLink("Выбрать", "Select", "Plans", new { id = plan.ID }, new { @class = "btn btn-info" })
				</p>

				@foreach (var feature in plan.Features)
				{
					<p>- @feature.Name</p>
				}
			</div>
		</a>
		}
    </div>


@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			$('.buy-link').on('click', function () {
				var key = $(this).attr('data-plan-id');
				localStorage.setItem(key, null);
			});
		});
	</script>
}