@model Models.ViewModels.Plans.SelectViewModel
@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

<p>@Model.HostingPlan.Name</p>
@using (Html.BeginForm("Checkout","Plans", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.HostingPlan.ID)
    <select class="form-control" name="SelectedPriceId">
        @foreach (var p in Model.HostingPlan.Prices)
        {
            <option value="@p.ID">@p.Months МЕСЯЦА(ЕВ)</option>
        }
    </select>
    <br />
    <input type="submit" class="btn btn-info pull-right" value="Выбрать" />
}

