@model Models.ViewModels.Plans.SelectViewModel
@{
	ViewBag.Title = "Select";
}

<h2>Select</h2>
<div class="row">
	@using (Html.BeginForm("Checkout", "Plans", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(x => x.HostingPlan.ID)

		<div class="col-sm-3">
			<p>@Model.HostingPlan.Name</p>
			<select class="form-control" name="SelectedPriceId" id="plan-select">
				@foreach (var p in Model.HostingPlan.Prices)
				{
					<option value="@p.ID">@p.Months МЕСЯЦА(ЕВ)</option>
				}
			</select>
		</div>

		<div class="col-sm-3">
			<span id="price-per-month"></span>
		</div>
		<div class="col-sm-3">

		</div>

		<div class="col-sm-offset-11 col-sm-1">
			<input type="submit" id="payment_submit" value="Выбрать" />
		</div>
	}
</div>
@section scripts{
	<script id="widget-wfp-script" language="javascript" type="text/javascript" src="https://secure.wayforpay.com/server/pay-widget.js"></script>
	<script type="text/javascript">
		var wayforpay = new Wayforpay();
		var r = {
			merchantAccount: "test_merch_n1",
			merchantDomainName: "www.market.ua",
			authorizationType: "SimpleSignature",
			merchantSignature: "b95932786cbe243a76b014846b63fe92",
			orderReference: "DH783023",
			orderDate: "1415379863",
			amount: "1547.36",
			currency: "UAH",
			productName: "Процессор Intel Core i5-4670 3.4GHz",
			productPrice: "1000",
			productCount: "1",
			clientFirstName: "Вася",
			clientLastName: "Васечкин",
			clientEmail: "some@mail.com",
			clientPhone: "380631234567"
		};
		var pay = function () {
			wayforpay.run(r,
				function (response) {
					// on approved
				},
				function (response) {
					// on declined
				},
				function (response) {
					// on pending or in processing
				}
			);
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function () {

			$('#plan-select').on('change', function (e) {
				alert('hello');
			});

			$('#payment_submit').on('click', function (e) {
				e.preventDefault();
				var value =
				r.merchantAccount+ ';'+
				r.merchantDomainName + ';' +
				r.authorizationType + ';' +
				r.orderReference + ';' +
				r.orderDate + ';' +
				r.amount + ';' +
				r.currency + ';' +
				r.productName + ';' +
				r.productPrice + ';' +
				r.productCount + ';' +
				r.clientFirstName + ';' +
				r.clientLastName + ';' +
				r.clientEmail + ';' +
				r.clientPhone;

				
				$.ajax({
					url: "/Home/Hash",
					data: { value: value },
					async: false,
					success: function (data) {
						r.merchantSignature = data;
					}
				});

				pay();
			});

		});
	</script>
}
